{% extends 'core/base.html' %}
{% block title %}Sobre Nosotros{% endblock %}
{% load static %}   
{% block image-header%} about {% endblock %}
{% block title-header%}
    <div>
        <h1 class="display-4 fw-bold">¿Quienes somos?</h1>
    </div>
    <!--<head>
        <style>
            .container {
                position: relative;
                text-align: left;
            }

            .bottom-right {
                position: absolute;
                bottom: -240px;
                right: -100px;
            }
        </style>
    </head>
    <div class="container">
        <div class="bottom-right"><a href="http://www.freepik.com">Image designed by kjpargeter / Freepik</a></div>
    </div>-->
{% endblock %}
    <!-- CONTENIDO -->
{% block content %}
    <div>
        <p class="fs-2">Somos un grupo de ingenieros, encabezados por Mateo Marengo y Raúl Lizárraga, que se propuso desarrollar soluciones de toda índole para resolver los problemas de nuestros clientes.</p>
        <p class="fs-2">Para esto, nos apoyamos en un equipo interdisciplinario altamente capacitado para brindar soluciones integrales que ayuden al crecimiento de quien las implementa. </p>
    </div>
    <!--<div class="row d-flex">
        <div class="col-4 offset-md-auto">
            <img class="img-fluid img-thumbnail img-circle img-perfil " src="{% static 'core/img/foto-perfil.png' %}" alt="">
        </div>
        <div class="col-6">
            <h4>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Suscipit temporibus distinctio expedita enim, libero pariatur aliquam ullam molestiae debitis eos nobis at ipsa eveniet cum officiis fuga incidunt eius ex?</h4>
        </div>
    </div> -->

    <div class="row d-flex pt-5">
        <div class="col-12">
            <img class="img-fluid img-thumbnail img-circle img-perfil" src="{% static 'core/img/foto-perfil.png' %}" style="width: 200px; height: 200px;" alt="Img Mateo Marengo">
            <h2 class="fw-bold">Mateo Marengo</h2>
            <h3>Formación</h3>
            <p><strong>Título obtenido:</strong> Ingeniero Electrónico otorgado por la Facultad de Ciencias Exactas y Tecnologías de la provincia de Tucumán</p>
            <p><strong>Experiencia:</strong> 12 años siendo socio gerente de la empresa URIEL S.R.L.</p>

            <hr>

            <img class="img-fluid img-thumbnail img-circle img-perfil " src="{% static 'core/img/foto-perfil.png' %}" style="width: 200px; height: 200px;" alt="Img Raúl Lizárraga">
            <h2 class="fw-bold">Raúl Lizárraga</h2>
            <h3>Formación</h3>
            <p><strong>Título obtenido:</strong> Ingeniero Industrial otorgado por la Facultad de Ciencias Exactas y Tecnologías de la provincia de Tucumán</p>
            <p><strong>Experiencia:</strong> # años trabajando en EDET (Empresa de Distribución de Energía electrica Tucumán), # años trabajando en el ENACOM (Ente Nacional de Comunicaciones), # años brindando asesoría de modo individual.</p>

            <hr>

            <!--<h3>Formación Nº 2</h3>
            <p><strong>Título obtenido:</strong> Lorem ipsum dolor</p>
            <p><strong>Descripción:</strong> Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis distinctio atque praesentium fugiat doloremque, repellendus minus nisi enim nam voluptas velit beatae assumenda! Necessitatibus, eum vitae voluptates sunt quasi optio.</p>
            <hr>
            <h3>Formación Nº 3</h3>
            <p><strong>Título obtenido:</strong> Lorem ipsum dolor</p>
            <p><strong>Descripción:</strong> Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis distinctio atque praesentium fugiat doloremque, repellendus minus nisi enim nam voluptas velit beatae assumenda! Necessitatibus, eum vitae voluptates sunt quasi optio.</p>

            <hr>
            <h2 class="fw-bold">Conocimientos</h2>
            <section class="skills" id="skills">
                <div class="skills__container" id="skills">
                    <div class="card__skills">
                        <div class="skill__thumbnail">
                            <img class="skill__logo" src="{% static 'core/img/skills/html5-svgrepo-com.svg'%}" alt="html5">
                        </div>

                        <div class="skill__texto">
                            <p class="skill__titulo">HTML5</p>
                        </div>
                    </div>

                    <div class="card__skills">
                        <div class="skill__thumbnail">
                            <img class="skill__logo" src="{% static 'core/img/skills/javascript-svgrepo-com.svg'%}" alt="html5">
                        </div>
                        <div class="skill__texto">
                            <p class="skill__titulo">Javascript</p>
                        </div>
                    </div>

                    <div class="card__skills">
                        <div class="skill__thumbnail">
                            <img class="skill__logo" src="{% static 'core/img/skills/nodejs-icon-svgrepo-com.svg'%}" alt="html5">
                        </div>
                        <div class="skill__texto">
                            <p class="skill__titulo">NodeJS</p>
                        </div>
                    </div>

                    <div class="card__skills">
                        <div class="skill__thumbnail">
                            <img class="skill__logo" src="{% static 'core/img/skills/css3-svgrepo-com.svg'%}" alt="html5">
                        </div>
                        <div class="skill__texto">
                            <p class="skill__titulo">CSS3</p>
                        </div>
                    </div>

                    <div class="card__skills">
                        <div class="skill__thumbnail">
                            <img class="skill__logo" src="{% static 'core/img/skills/bootstrap-svgrepo-com.svg'%}" alt="html5">
                        </div>
                        <div class="skill__texto">
                            <p class="skill__titulo">Bootstrap</p>
                        </div>
                    </div>

                    <div class="card__skills">
                        <div class="skill__thumbnail">
                            <img class="skill__logo" src="{% static 'core/img/skills/laravel-svgrepo-com.svg'%}" alt="html5">
                        </div>
                        <div class="skill__texto">
                            <p class="skill__titulo">Laravel</p>
                        </div>
                    </div>

                    <div class="card__skills">
                        <div class="skill__thumbnail">
                            <img class="skill__logo" src="{% static 'core/img/skills/php-svgrepo-com.svg'%}" alt="html5">
                        </div>
                        <div class="skill__texto">
                            <p class="skill__titulo">PHP</p>
                        </div>
                    </div>

                    <div class="card__skills">
                        <div class="skill__thumbnail">
                            <img class="skill__logo" src="{% static 'core/img/skills/mysql-svgrepo-com.svg'%}" alt="html5">
                        </div>
                        <div class="skill__texto">
                            <p class="skill__titulo">MySQL</p>
                        </div>
                    </div>

                    <div class="card__skills">
                        <div class="skill__thumbnail">
                            <img class="skill__logo" src="{% static 'core/img/skills/postgresql-logo-svgrepo-com.svg'%}" alt="html5">
                        </div>
                        <div class="skill__texto">
                            <p class="skill__titulo">PostgreSQL</p>
                        </div>
                    </div>

                </div>
            </section>
        </section>-->
        </div>

    </div>
{% endblock %}